body {
  background: white;
}

#network-status span {
  display: inline-block;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 0.4rem;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.wrap {
  display: flex;
  align-items: center;
  margin: 1em 0;
  padding: 2em;
  border-radius: 1em;
  border: 1px solid black;
}

#counter {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

button {
  margin-right: 1em;
  min-width: 30px;
  height: 30px;
  cursor: pointer;
}

#network-status:before {
  content: 'network: ';
  font-size: 1rem;
}

#peers:before {
  display: block;
  content: 'peers: ';
  font-size: 1rem;
}

#document:before {
  display: block;
  content: 'document: ';
  font-size: 1rem;
}

#document-text:before {
  display: block;
  content: 'text: ';
  font-size: 1rem;
}

#network-status,
#peers,
#document,
#document-text {
  margin: 1rem 0;
  font-family: monospace;
}

.ql-editor {
  min-height: 300px;
  overflow-y: auto;
  resize: vertical;
}


.content-item {
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  padding: 1px;
  font-size: 12px;
  position: relative;
  display: inline-block;
}
.content-item:hover {
  background-color: black;
  color: white;
}

.tree-item {
  padding: 4px;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  display: inline-block;
  /* white-space: nowrap; */
  margin-bottom: 10px;
  vertical-align: middle;
  min-height: 20px;
  /* content-visibility: auto; */
}

.tree-item .skew.left {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%) translateY(-5px);
  width: 4px;
  height: 4px;
  background-color: red;
  z-index: 1;
  border-radius: 50%;
}

.tree-item .skew.right {
  position: absolute;
  top: 0px;
  left: calc(50% + 2px);
  transform: translateX(-50%) translateY(-5px);
  width: 4px;
  height: 4px;
  background-color: black;
  z-index: 1;
  border-radius: 50%;
}

.tree-item.selected {
  color: white;
  background-color: red;
}

.tree-item > .time {
  display: none;
}

.tree-item[data-has-length="true"] {
  text-decoration: underline;
}

.tree-item:hover {
  background-color: black !important;
  color: white;
}
/* 
.tree-item:hover > .time {
  display: inline-block;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: black;
  z-index: 1;
  padding: 2px;
  border-radius: 4px;
} */

.line-break {
  width: 10px;
  height: 10px;
  /* background-color: red; */
  background-image: linear-gradient(135deg, transparent 5px, red 5px 7px, transparent 7px);
  background-position: center center;
}

.tree-item.deleted:not(.selected) {
  text-decoration: line-through;
  background-color: #dadada;
  /* color: white; */
  /* opacity: 0; */
}

#log-holder {
  height: 200px;
  overflow-y: auto;
  resize: vertical;
  border: 1px solid #e5e5e5;
  padding: 5px;
  margin-bottom: 20px;
}

#text-log-holder {
  /* height: 200px; */
  /* overflow-y: auto; */
  resize: vertical;
  /* border: 1px solid #e5e5e5; */
  padding: 5px;
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
}

#peers-holder {
  display: flex;
  gap: 10px;
}

.client-info {
  --client-background-color: var(--client-color, #000);
  --client-status-color: var(--peer-status-color, --client-background-color);
  color: white;
  padding: 0px 1px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  background-color: var(--client-background-color);
}

.client-info.me::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform-origin: center center;
  transform: translate(-50%, -50%) scale(1.2);
  border: 2px solid var(--client-status-color);
  border-radius: 50%;
}

.node-item {
  display: inline-block;
  padding: 2px;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 10;
}

.node-item > .skew-left {
  position: absolute;
  bottom: 0px;
  left: calc(50% - 12px);
  width: 6px;
  height: 6px;
  background-color: red;
  z-index: 1;
  border-radius: 50%;
}

.node-item > .skew-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 10px;
  height: 10px;
  background-color: red;
  z-index: 1;
  border-radius: 50%;
}


.node-item.selected > .content > .inner-description {
  border-color: red !important;
  background-color: red !important;
  color: white !important;
}

.node-item.empty {
  width: 30px;
  height: 30px;
  color: red;
}

.node-item.is-removed > .content > .inner-description {
  background-color: #dadada;
  border-width: 1px;
}

.node-item > .content {
  text-align: center;
}

.node-item > .content > .inner-description {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  border-color:  var(--ticker-color, black);
  border-width: 2px;
  border-style: solid;
  margin-bottom: 10px;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  width: 64px;
  height: 40px;
  contain: size;  
  background-color: white;
}

.deleted-children {
  height: 20px;
  width: 20px;
  contain: size;
  overflow: hidden;
  background-color: rgba(255, 0, 0, 0.5);
  filter: grayscale(1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.node-item > .content > .inner-description > .prev-view,
.node-item > .content > .inner-description > .next-view {
  position: absolute;
  display: none;
  width: 10px;
  height: 100%;
  /* background-color: gray; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  color: black;
}

.node-item > .content > .inner-description > .prev-view {
  top: 50%;
  left: -12px;
  transform: translate(0, -50%);
}

.node-item > .content > .inner-description > .next-view {
  top: 50%;
  right: -12px;
  transform: translate(0, -50%);
}

.node-item > .content > .inner-description:hover > .prev-view,
.node-item > .content > .inner-description:hover > .next-view {
  display: flex;
}

.node-item > .content > .inner-description > .key-area {
  font-size: 10px;
  padding: 4px;
  box-sizing: border-box;
  flex: 1;
}

.node-item > .content > .inner-description > .value-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  width :100%;
  border-top: 1px solid black;
  font-size: 11px;
}
.node-item > .content > .inner-description > .value-area > .value {
  flex: 1;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 40px;
}
.node-item > .content > .inner-description > .value-area > .weight {
  flex: none;
  border-right: 1px solid black;
  box-sizing: border-box;
  padding: 0px 2px;
  display: flex;
  align-items: center;
  height: 100%;
}

.node-item > .content > .children  {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.node-item > .content > .children > .left,
.node-item > .content > .children > .right {
  position: relative;
}

.node-item > .content > .children > .left.has-right:before {
  content: "";
  position: absolute;
  left: 50%;
  right: 0px;
  top: -5px;
  height: 6px;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.node-item > .content > .children > .right.has-left:before {
  content: "";
  position: absolute;
  left: 0px;
  right: 50%;
  top: -5px;
  height: 6px;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

.layout {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.layout > .toolbar {
  flex: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}

.layout > .toolbar > .left-tools {
  display: flex;
  gap: 20px;
  padding: 0px 10px;  
  align-items: center;
}

.layout > .toolbar > .left-tools > .tools {
  display: flex;
  align-items: center;
  gap: 5px;
}

.layout > .toolbar > .left-tools > .tools > *{
  margin: 0px;
}

.layout > .toolbar > .right-tools {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0px 20px;
  box-sizing: border-box;
}

.layout > .toolbar > .center-tools {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0px 20px;
  box-sizing: border-box;
}

.layout > .content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.layout > .content.hide-splay-tree.hide-llrb-tree > .editor-area {
  height: 100%;
  max-height: 900px;
  flex: 1;
}

.layout > .content.hide-splay-tree.hide-llrb-tree .tabcontent {
  max-height: 600px;
  height: auto;
}

.layout > .content.hide-splay-tree.hide-llrb-tree > .graph-view {
  display: none;
}

.layout > .content > * {
  flex: 1;
}

.layout > .content > .graph-view {
  display: flex;
  position: relative;
  border-top: 1px solid #ececec;
}

.layout > .content > .graph-view > * {
  flex: 1;
  display: flex;
  flex-direction: column;  
}

.layout > .content > .graph-view > .graph-area:first-child {
  box-sizing: border-box;
  border-right: 1px solid #ececec;
}

.layout > .content > .graph-view > .graph-area:last-child {
}

.layout > .content > .graph-view > .graph-area > .title {
  padding: 10px 20px;
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 0px;
  gap: 10px;
}

.layout > .content > .graph-view > .graph-area > .title > .badge {
  background-color: rgb(228, 88, 88);
  color: white;
  font-weight: 400;
  margin-left: 10px;
  border-radius: 25px;
  padding: 4px 5px;
  font-size: 12px;

}

.layout > .content > .graph-view > .graph-area > .tree-area {
  flex: 1;
  overflow: auto;
  position: relative;
  box-sizing: border-box;
  /* margin: 20px; */
  /* border: 1px solid #ececec; */
}





.layout > .content > .editor-area {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 300px;
  flex: none;
}

.layout > .content > .editor-area > * {
  flex: 1 1 auto;
  width: 50%;
  position: relative;
}

.layout > .content > .editor-area > *:first-child {
  border-right: 1px solid #ececec;
}

.layout > .content > .editor-area > .data-area {
  display: flex;

}

.layout > .content > .editor-area > .data-area > .text-view-area.hide-deleted-node * .deleted {
  display: none;
}

.layout > .content > .editor-area > .data-area > * {
  flex: 1 1 auto;
  display: flex;
}  

.layout > .content > .editor-area > .data-area > * > .info-area {
  width: 300px;
  flex: none;
  display: flex;
  flex-direction: column;
}

.layout > .content > .editor-area > .data-area > * > .info-area > .title {
  padding: 10px 10px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 0px;
  font-size: 12px;
  box-sizing: border-box;
  height: 30px;
}


.layout > .content > .editor-area > .data-area > * > .info-area > .selected-node-info {
  flex: 1;
  position: relative;
  box-sizing: border-box;
  border-left: 1px solid #ececec;
  width :100%;
}


.CodeMirror {
  height: 100%;
}

.tab {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tab-header {
  display: flex;
  flex: none;
  height: 30px;
  border-bottom: 1px solid #ececec;
}

.tab-body {
  flex: 1;
  display: flex;
}

.tablinks {
  border:0px;
  margin: 0px;
}

.tablinks.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  height: 270px;
  width: 100%;
  overflow: auto;
}

.tabcontent.active {
  display: block;
}

#structure-log-holder {
  width: 100%;
}

#structure-text-holder {
  width: 100%;
  padding: 10px;
  font-size: 12px;
}


.structure-item {
  --structure-background-color: var(--client-color, white);
  padding: 2px;
  cursor: pointer;
  font-size: 12px;
  position: relative;
  display: flex;


}

.structure-item .skew.left {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%) translateY(-5px);
  width: 4px;
  height: 4px;
  background-color: red;
  z-index: 1;
  border-radius: 50%;
}

.structure-item .skew.right {
  position: absolute;
  top: 0px;
  left: calc(50% + 2px);
  transform: translateX(-50%) translateY(-5px);
  width: 4px;
  height: 4px;
  background-color: black;
  z-index: 1;
  border-radius: 50%;
}

.structure-item > .icon {
  background-color: var(--structure-background-color);
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  margin-right: 5px;
  box-sizing: border-box;
  padding: 2px;
  border: 1px solid white;
  border-radius: 50%;
}

.structure-item.deleted {
  text-align: right;
  color: red;
}

.structure-item.selected {
  color: white;
  background-color: red;
}

.structure-item:hover {
  background-color: black !important;
  color: white;
}

.structure-item[data-tree-depth]::before {
  content: attr(data-tree-depth);
  display: inline-block;
  background-color: black;
  color: white;
  width: 20px;
  text-align: center;
}

.structure-item[data-tree-depth]::after {
  content: "|<-" attr(data-tree-parent);
  display: inline-block;
  /* background-color: black; */
  /* color: white; */
  flex: 1;
  text-align: right;
  font-weight: bold;
}

.structure-item[data-tree-depth="0"] {
  /* background-color:rgba(0, 0, 0, 0.5); */
}

.structure-item[data-tree-depth="1"] {
  background-color:rgba(0, 0, 0, 0.4);
  padding-left: 10px;
}

.structure-item[data-tree-depth="2"] {
  background-color:rgba(0, 0, 0, 0.3);
  padding-left: 14px;
}

.structure-item[data-tree-depth="3"] {
  background-color:rgba(0, 0, 0, 0.2);
  padding-left: 18px;
}


.structure-item[data-tree-depth="4"] {
  background-color:rgba(0, 0, 0, 0.1);
  padding-left: 22px;
}

.structure-item[data-tree-depth="5"] {
  background-color:rgba(0, 0, 0, 0.05);
  padding-left: 26px;
}

.structure-item[data-tree-depth="6"] {
  background-color:rgba(0, 0, 0, 0.025);
  padding-left: 30px;
}

.structure-item[data-tree-depth="7"] {
  background-color:rgba(0, 0, 0, 0.0125);
  padding-left: 34px;
}

.structure-item[data-tree-depth="8"] {
  background-color:rgba(0, 0, 0, 0.00625);
  padding-left: 38px;
}

.structure-item[data-tree-depth="9"] {
  background-color:rgba(0, 0, 0, 0.003125);
  padding-left: 42px;
}


.selected-node-info > .property-view > .property-item-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  text-align: left;
}

.selected-node-info > .property-view > .property-item-view > label {
  flex: none;
  width: 100px;
  text-align: left;
  font-weight: bold;
}

.line-holder {
  /* z-index: 0; */
  position: absolute;
  left: 0px;
  top: 0px;
  width :100px;
  height: 100px;
}

.line-holder svg {
  display: block;
  position: absolute;
  left :0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.line-holder path {
  stroke: black;
}

.left-skew {
  background-color: orange;
  color: black;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5);
  padding: 4px;
  border-radius: 24px;
  font-size: 12px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  gap: 4px;
}

.left-skew::before {
  content: "↤";
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0px 4px;
  transform: scale(2) translateY(-1px);

}

.right-skew {
  background-color: orange;
  color: black;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5);
  padding: 4px;
  border-radius: 24px;
  font-size: 12px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  gap: 4px;
}

.right-skew::before {
  content: "↦";
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0px 4px;
  transform: scale(2) translateY(-1px);
}

#tree-map-holder {
  position: absolute;
  width: 300px;
  height: 100px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 0px;
  border-left: 0px;
}

#tree-map-holder svg {
  width: 100%;
  height:100%;
}

#tree-map-holder svg path {
  stroke-width: 0;
  stroke: gray;
  fill: rgba(0, 0, 0, 0.2);
}

.tree-not-balenced-chart-path {
  stroke-width: 0;
  fill: red !important;
}

.tree-map-node-chart-path {
  /* stroke-width: 2 !important; */
  fill: rgb(139, 139, 242) !important;
}

#tree-log-holder.hide-deleted-node .node-item.is-removed {
  display: none;
}

#llrbtree-log-holder.hide-deleted-node .node-item.is-removed {
  display: none;
}
