.update-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid black;
}

.update-code {
  position: relative;
  box-sizing: border-box;
  padding: 40px 20px 20px 20px;
  width: 100%;
  background: #f1f2f3;
  margin-top: 14px;
}

.update-code pre {
  margin: 0;
  line-height: 1.4;
}

.update-form {
  width: 100%;
}
.update-form input {
  margin-right: 10px;
}

.update-code .btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

.obj-dev-log {
  display: flex;
}

.obj-dev-log h2 {
  margin: 0;
}

.obj-dev-log > div {
  width: 100%;
  padding: 10px;
}

.obj-dev-log pre {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  background: #f1f2f3;
}

.object-content {
  margin-left: 24px;
}

.object-key-val,
.variable-row {
  position: relative;
}
.object-key-val:not(:last-of-type):before,
.variable-row:not(:last-of-type):before {
  border: 1px dashed #ddd;
  border-width: 0 0 0 1px;
  content: '';
  position: absolute;
  bottom: -12px;
  left: -18px;
  top: 12px;
}

.object-key-val:after,
.variable-row:after {
  border-bottom: 1px dashed #ddd;
  border-left: 1px dashed #ddd;
  border-radius: 0 0 0 4px;
  border-right: 0 dashed #ddd;
  border-top: 0 dashed #ddd;
  content: '';
  height: 16px;
  position: absolute;
  top: 0;
  width: 16px;
  height: 32px;
  top: -16px;
  left: -18px;
}

#document-holder {
  margin-top: 24px;
}

#document-holder > .object-key-val:after,
#document-holder > .variable-row:after {
  content: none;
}

.variable-row > span,
.object-key-val > span,
.variable-row label,
.object-key-val label {
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0 !important;
  line-height: 1.72;
  margin-bottom: 16px;
  padding: 6px 8px;
}

.timeticket {
  border-radius: 4px;
  background: #f1f2f3;
  font-size: 12px;
  font-weight: 400;
  padding: 4px 6px;
  margin-left: 4px;
  letter-spacing: 1px;
}

#document-holder input[type='checkbox']:checked ~ .object-content {
  display: none;
}

#document-holder input[type='checkbox'] {
  display: none;
}

#document-holder label {
  cursor: pointer;
}

.obj-dev-tool pre,
.obj-dev-tool pre code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}
