services:
  yorkie:
    image: 'yorkieteam/yorkie:latest'
    container_name: 'yorkie'
    command: ['server', '--pprof-enabled']
    restart: always
    ports:
      - '8080:8080'
      - '8081:8081'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
