version: '3.3'

services:
  yorkie:
    image: 'krapi0314/yorkie:test'
    container_name: 'yorkie'
    command: [
      'server',
      '--mongo-connection-uri',
      'mongodb://mongo:27017',
    ]
    restart: always
    ports:
      - '8080:8080'
      - '8081:8081'
    depends_on:
      - mongo
  mongo:
    image: 'mongo:latest'
    container_name: 'mongo'
    restart: always
    ports:
      - '27017:27017'
