.cursor-selector-container {
  /* z-index: 10; */

  height: 92px;
  width: 192px;

  /* border: solid; */

  position: fixed;
  bottom: 0;
  right: 0;

  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cursor-selections-container {
  /* border: solid; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.num-users-container {
  /* border: solid; */

  border-radius: 8px;
  background-color: rgba(27, 26, 26, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  height: 40px;
  width: 192px;
}

.cursor-shape-selected {
  /* cursor: none; */
}

.cursor-shape-not-selected {
  /* cursor: none; */
  opacity: 0.5;
}
.cursor-shape-not-selected:hover {
  opacity: 0.7;
}

* {
  /* cursor: none; */
  /* pointer-events: none; */
  /* z-index: 100; */
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}
