.general-container {
  border: solid;
  min-width: 100vw;
  min-height: 100vh;
}

.cursor-selector-container {
  user-select: none;

  height: 92px;
  width: 192px;

  position: fixed;
  bottom: 0;
  right: 0;

  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cursor-selections-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.num-users-container {
  border-radius: 8px;
  background-color: rgba(27, 26, 26, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  height: 40px;
  width: 192px;
}

.cursor-shape-selected {
  background-color: rgb(81, 76, 73);
  border-radius: 9px;
}

.cursor-shape-not-selected {
  background-color: rgb(81, 76, 73);
  opacity: 0.5;
  border-radius: 9px;
}
.cursor-shape-not-selected:hover {
  background-color: rgb(81, 76, 73);
  opacity: 0.7;
  border-radius: 9px;
}
