.main {
  width: 340px;
}

.textArea {
  width: 100%;
  height: 8rem;
}

.memo {
  width: 100%;
  min-height: 1rem;
  border-top: 1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
  word-wrap: break-word;
}

.inputForm_editor {
  margin-top: 3rem;
}
