.char-item {
  padding: 4px;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: middle;
  min-height: 20px;
}

.char-item.selected {
  color: white;
  background-color: red;
}

.char-item > .time {
  display: none;
}

.char-item[data-has-length='true'] {
  text-decoration: underline;
}

.char-item:hover {
  background-color: black !important;
  color: white;
}

.line-break {
  width: 10px;
  height: 10px;
  background-image: linear-gradient(
    135deg,
    transparent 5px,
    red 5px 7px,
    transparent 7px
  );
  background-position: center center;
}

.char-item.deleted:not(.selected) {
  text-decoration: line-through;
  background-color: #dadada;
}

#users-holder {
  display: flex;
  gap: 10px;
}

.user-info {
  --client-background-color: var(--client-color, #000);
  --client-status-color: var(--network-status-color, --client-background-color);
  color: white;
  padding: 0px 1px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  background-color: var(--client-background-color);
}

.user-info.me::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform-origin: center center;
  transform: translate(-50%, -50%) scale(1.2);
  border: 2px solid var(--client-status-color);
  border-radius: 50%;
}

.node-item {
  display: inline-block;
  padding: 2px;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 10;
}

.node-item.selected > .content > .inner-description {
  border-color: red !important;
  background-color: red !important;
  color: white !important;
}

.node-item.empty {
  width: 30px;
  height: 30px;
  color: red;
}

.node-item.is-removed > .content > .inner-description {
  background-color: #dadada;
  border-width: 1px;
}

.node-item > .content {
  text-align: center;
}

.node-item > .content > .inner-description {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  border-color: var(--ticker-color, black);
  border-width: 2px;
  border-style: solid;
  margin-bottom: 10px;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  width: 64px;
  height: 40px;
  contain: size;
  background-color: white;
}

.node-item > .content > .inner-description > .prev-view,
.node-item > .content > .inner-description > .next-view {
  position: absolute;
  display: none;
  width: 10px;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: black;
}

.node-item > .content > .inner-description > .prev-view {
  top: 50%;
  left: -12px;
  transform: translate(0, -50%);
}

.node-item > .content > .inner-description > .next-view {
  top: 50%;
  right: -12px;
  transform: translate(0, -50%);
}

.node-item > .content > .inner-description:hover > .prev-view,
.node-item > .content > .inner-description:hover > .next-view {
  display: flex;
}

.node-item > .content > .inner-description > .key-area {
  font-size: 10px;
  padding: 4px;
  box-sizing: border-box;
  flex: 1;
}

.node-item > .content > .inner-description > .value-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid black;
  font-size: 11px;
}
.node-item > .content > .inner-description > .value-area > .value {
  flex: 1;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 40px;
}
.node-item > .content > .inner-description > .value-area > .weight {
  flex: none;
  border-right: 1px solid black;
  box-sizing: border-box;
  padding: 0px 2px;
  display: flex;
  align-items: center;
  height: 100%;
}

.node-item > .content > .children {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.node-item > .content > .children > .left,
.node-item > .content > .children > .right {
  position: relative;
}

.node-item > .content > .children > .left.has-right:before {
  content: '';
  position: absolute;
  left: 50%;
  right: 0px;
  top: -5px;
  height: 6px;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.node-item > .content > .children > .right.has-left:before {
  content: '';
  position: absolute;
  left: 0px;
  right: 50%;
  top: -5px;
  height: 6px;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

.layout {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.layout > .toolbar {
  flex: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}

.layout > .toolbar > .left-tools {
  display: flex;
  gap: 20px;
  padding: 0px 10px;
  align-items: center;
}

.layout > .toolbar > .left-tools > .tools {
  display: flex;
  align-items: center;
  gap: 5px;
}

.layout > .toolbar > .left-tools > .tools > * {
  margin: 0px;
}

.layout > .toolbar > .right-tools {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0px 20px;
  box-sizing: border-box;
}

.layout > .toolbar > .center-tools {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0px 20px;
  box-sizing: border-box;
}

.layout > .content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.layout > .content.hide-splay-tree.hide-llrb-tree > .editor-area {
  height: 100%;
  max-height: 900px;
  flex: 1;
}

.layout > .content.hide-splay-tree.hide-llrb-tree .tabcontent {
  max-height: 600px;
  height: auto;
}

.layout > .content.hide-splay-tree.hide-llrb-tree > .graph-view {
  display: none;
}

.layout > .content > * {
  flex: 1;
}

.layout > .content > .graph-view {
  display: flex;
  position: relative;
  border-top: 1px solid #ececec;
}

.layout > .content > .graph-view > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.layout > .content > .graph-view > .graph-area:first-child {
  box-sizing: border-box;
  border-right: 1px solid #ececec;
}

.layout > .content > .graph-view > .graph-area > .title {
  padding: 10px 20px;
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 0px;
  gap: 10px;
}

.layout > .content > .graph-view > .graph-area > .title > .badge {
  font-weight: 400;
  font-size: 12px;
}

.layout > .content > .graph-view > .graph-area > .tree-area {
  flex: 1;
  overflow: auto;
  position: relative;
  box-sizing: border-box;
}

.layout > .content > .editor-area {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 300px;
  flex: none;
}

.layout > .content > .editor-area > * {
  flex: 1 1 auto;
  width: 50%;
  position: relative;
}

.layout > .content > .editor-area > *:first-child {
  border-right: 1px solid #ececec;
}

.layout > .content > .editor-area > .data-area {
  display: flex;
}

.layout
  > .content
  > .editor-area
  > .data-area
  > .text-view-area.hide-deleted-node
  *
  .deleted {
  display: none;
}

.layout > .content > .editor-area > .data-area > * {
  flex: 1 1 auto;
  display: flex;
}

.layout > .content > .editor-area > .data-area > * > .info-area {
  width: 300px;
  flex: none;
  display: flex;
  flex-direction: column;
}

.layout > .content > .editor-area > .data-area > * > .info-area > .title {
  padding: 10px 10px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 0px;
  font-size: 12px;
  box-sizing: border-box;
  height: 30px;
}

.layout
  > .content
  > .editor-area
  > .data-area
  > *
  > .info-area
  > .selected-node-info {
  flex: 1;
  position: relative;
  box-sizing: border-box;
  border-left: 1px solid #ececec;
  width: 100%;
}

.CodeMirror {
  height: 100%;
}

.tab {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tab-header {
  display: flex;
  flex: none;
  height: 30px;
  border-bottom: 1px solid #ececec;
}

.tab-body {
  flex: 1;
  display: flex;
}

.tablinks {
  border: 0px;
  margin-right: 3px;
}

.tablinks.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  height: 270px;
  width: 100%;
  overflow: auto;
}

.tabcontent.active {
  display: block;
}

#structure-log-holder {
  width: 100%;
}

#structure-text-holder {
  width: 100%;
  padding: 10px;
  font-size: 12px;
}

.structure-item {
  --structure-background-color: var(--client-color, white);
  padding: 2px;
  cursor: pointer;
  font-size: 12px;
  position: relative;
  display: flex;
}

.structure-item > .icon {
  background-color: var(--structure-background-color);
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  margin-right: 5px;
  box-sizing: border-box;
  padding: 2px;
  /* border: 1px solid white; */
  border-radius: 50%;
}

.structure-item.deleted {
  text-align: right;
  background-color: #dadada;
}

.structure-item.selected {
  color: white;
  background-color: red;
}

.structure-item:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.selected-node-info > .property-view > .property-item-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  text-align: left;
}

.selected-node-info > .property-view > .property-item-view > label {
  flex: none;
  width: 100px;
  text-align: left;
  font-weight: bold;
}

.line-holder {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
}

.line-holder svg {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.line-holder path {
  stroke: black;
}

#splaytree-log-holder.hide-deleted-node .node-item.is-removed {
  display: none;
}

#llrbtree-log-holder.hide-deleted-node .node-item.is-removed {
  display: none;
}

.editor-control {
  position: absolute;
  bottom: 0;
  right: 0;
}
