.cursor {
  /* position: fixed; */
  /* left: 0;
  top: 0; */
  /* background-color: none; */
  /* cursor: none;   we don't have it here since when selecting options, cursor pops out */
  
}

* {
  cursor: none;
  /* user-select: none; */
  /* pointer-events: none; */
  /* z-index: 100; */
}

.pen-cursor {
  /* cursor: none; */

  pointer-events: none;
  position: fixed;
  left: -10px;
  top: -30px;
}

.heart-cursor {
  /* cursor: none; */
  pointer-events: none;

  position: fixed;
  left: -17px;
  top: -17px;
}

.thumbs-cursor {
  /* cursor: none; */
  pointer-events: none;
  position: fixed;
  left: -17px;
  top: -17px;
}

.cursor-cursor {
  /* cursor: none; */
  pointer-events: none;
  position: fixed;
  left: -5px;
  top: -5px;
}
