* {
  cursor: none;
  /* user-select: none; */
  /* pointer-events: none; */
  /* z-index: 100; */
}

.pen-cursor {
  user-select: none;
  pointer-events: none;
  position: fixed;
  left: -10px;
  top: -30px;
}
.pen-cursor-canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.heart-cursor {
  user-select: none;
  pointer-events: none;
  position: fixed;
  left: -17px;
  top: -17px;
}

.thumbs-cursor {
  user-select: none;
  pointer-events: none;
  position: fixed;
  left: -17px;
  top: -17px;
}

.cursor-cursor {
  user-select: none;
  pointer-events: none;
  position: fixed;
  left: -5px;
  top: -5px;
}
