/* prism-react-renderer */
.prism-code .token {
  white-space: pre;
}
.prism-code .string {
  word-break: break-all;
}
.prism-code .class-name {
  color: var(--purple-dark);
}
.prism-code .parameter,
.prism-code .plain,
.prism-code .property {
  color: var(--gray-900);
}

.prism-code .line-number {
  padding: 0 16px;
}
.prism-code .line-number {
  line-height: 2;
  font-weight: 400;
  color: var(--gray-500);
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.prism-code .line-content {
  line-height: 1.72;
  font-weight: 400;
}
.prism-code.language-json .token.property {
  color: var(--blue-dark);
}
.prism-code.language-json .token.number {
  color: var(--orange-dark);
}
.prism-code.language-bash {
  padding: 0 24px;
}

/* react-json-view */
.react-json-view {
  font-family: menlo, monospace !important;
  font-size: 11px;
  color: var(--gray-900);
}
.react-json-view .icon-container {
  margin-left: -16px;
}
.react-json-view .object-key {
  color: var(--gray-900) !important;
}
.react-json-view .variable-value {
  color: var(--gray-600);
}
.react-json-view
  > .object-container
  > .object-content
  > .object-key-val
  > span
  .icon-container {
  display: none !important;
}
.react-json-view .node-ellipsis {
  font-size: 10px !important;
}
